
@font-face {
	font-family: Pufony;
	src: url(../files/Pufony-1.otf);
}

@font-face {
	font-family: Cyberpunk;
	src: url(../files/Cyberpunk.ttf);
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: Cyberpunk;
	min-height: 100vh;
	background-image: url("../img/bg.jpg");
	background-size: cover;
	background-position: center;
}

header{
	font-size: 3.5rem;
	color: #000;	
}

header,
form{
	min-height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

form input,
form button{
	padding: 0.5rem;
	font-size: 2rem;
	border: none;
	background-color: #fff;
}

form input{
	box-shadow: 0 10px 5px 0 #00000044;

}

form input::placeholder{
	font-family: Cyberpunk;
	
}

form button{
	background-color: #fff;
	cursor: pointer;
	transition: all .3s ease;
}
.trash-btn:hover,
form button:hover{
	background-color: #180702;
	color: #fff;
}


.todo-container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.todo-list{
	min-width: 30%;
	list-style: none;
}

.todo{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0.5rem;
	background-color: #fff;
	font-size: 1.5rem;
	transition: all .4s ease;
	box-shadow: 0 10px 5px 0 #00000044;

}

.todo li{
	flex: 1;
}

.trash-btn{
	padding: .5rem;
	background-color: #fff;
	color: #180702;
	border: none;
	cursor: pointer;
	font-size: 2rem;
	transition: all .3s ease;

}

.todo-item{
	padding: 0 0.5rem;
}

.fa-square-check{
	pointer-events: none;
}

.fall{
	transform: translateY(8rem) rotateZ(20deg);
	opacity: 0;
}

