
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat{
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: weight;
	font-style: normal;
 }

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-y: hidden;

}

body{
	font-family: Montserrat;
	min-height: 100vh;
	background-color: #f5c94f;
	background-size: cover;
	background-image: url("../img/bg.jpg");
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header{
	color: #000;	
	min-height: 10vh;
	h1{
		font-size: 6rem;
		margin-bottom: 40px;
	}

}

header,
form{
	display: flex;
	justify-content: center;
	align-items: center;
	
}

form input,
form button{
	padding: 0.5rem;
	font-size: 2rem;
	border: none;
	background-color: #fff;

}

form{
	margin-bottom: 40px;
}


form input::placeholder{
	font-family: Montserrat;
	font-size: 1.8rem;
}

form button{
	background-color: #fff;
	cursor: pointer;
	transition: all .5s ease;
	font-size: 1.9rem;


}
.trash-btn:hover,
form button:hover{
	background-color: #180702;
	color: #fff;
}

.container{
	overflow: auto;
	height: 65vh;
	min-width: 80vw;
	padding-top: 5px;
	padding-bottom: 5px;
	overflow-x: hidden;
}

.todo-container{
	display: flex;
	justify-content: center;
	align-items: center;

}

.todo-list{
	min-width: 30%;
	list-style: none;
}

.todo{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0.8rem;
	background-color: #fff;
	font-size: 1.5rem;
	transition: all .4s ease;
	box-shadow: 0 10px 5px 0 #00000044;
	min-width: 30vw;
	max-width: 85vw;


}

.todo li{
	flex: 1;
}

.trash-btn{
	padding: .5rem;
	background-color: #fff;
	color: #180702;
	border: none;
	cursor: pointer;
	font-size: 2rem;
	transition: all .5s ease;

}

.todo-item{
	padding: 0 0.5rem;
}

.fa-square-check{
	pointer-events: none;
}

.fall{
	transform: translateY(8rem) rotateZ(20deg);
	opacity: 0;
}


@media(max-width:650px){
	header{
		h1{
			font-size: 5rem;
			margin-bottom: 20px;

		}
	}

	form{
		margin-bottom: 20px;
	}

	.container{
		height: 70vh;
	}

}

@media(max-width:510px){
	header{
		h1{
			font-size: 4rem;
		}

	}
	form input{
		font-size: 1.5rem;
	}
	form button{
		font-size: 1.4rem;

	}
}

@media(max-width:410px){
	header{
		h1{
			font-size: 3.5rem;
		}
	}
	form input{
		font-size: 1.4rem;
	}
	form button{
		font-size: 1.3rem;

	}
	form input::placeholder{
		font-size: 1.6rem;
	}


}

@media(max-width:360px){
	header{
		h1{
			font-size: 3rem;
		}

	}
	form input{
		font-size: 1.2rem;
	}
	form button{
		font-size: 1.05rem;

	}

	form input::placeholder{
		font-size: 1.5rem;
	}
}

@media(max-width:310px){
	header{
		h1{
			font-size: 2.5rem;
		}

	}
	form input{
		font-size: 1rem;
	}
	form button{
		font-size: .9377rem;

	}

	form input::placeholder{
		font-size: 1.2rem;
	}
}